@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

*{
    text-decoration: none;
}

body{
    background-color: rgba(100, 128, 211, 1);
}

h2{
    color: rgba(255, 120, 89, 1);
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    font-family: 'Days One', sans-serif;
    background-color: #98BBA7;
}

form{
    text-align: center;
    margin-top: 10%;
}

label{
    display: block;
    margin-top: 70px;
}

input[type="text"],
 input[type="time"],
 input[type="submit"] {
 margin-top: 5px;
}

input[type="submit"]{
    margin-top: 3%;
    background-color: rgba(255, 120, 89, 1);
    border: none;
    width: 100px;
    height: 70px;
    border-radius: 20px;
}

.logar{
    margin-top: 30px;
    font-size: 300%;
    text-align: right;
}

a{
    color: rgba(38, 48, 83, 1);
}