@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.navigation{
    display: none;
}

ul{
    display: none;
    font-family: 'Days One', sans-serif;
    color: #FF7859;
}

body{
    font-size: 100%;
}

.cabeçalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #98BBA7;
}

.navegacao1{
    display: flex;
    gap: 250px;
    font-size: 180%;
    font-family: 'Days One', sans-serif;
    color: #FF7859;
}

.navegacao2{
    display: flex;
    gap: 250px;
    font-size: 180%;
    font-family: 'Days One', sans-serif;
    color: #FF7859;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background:rgba(39, 41, 45, 1);
    margin: 5px auto;
    transition: all 1s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: #FF7859;
}

.menu .bar:nth-child(2){
    background:rgba(100, 128, 211, 1);
}

a{
    font-family: 'Days One', sans-serif;
    color: #FF7859;
}

main{
    border-top: 1px solid black;
}

.first{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

h1{
    font-size: 400%;
    gap: 200%;
    color: rgba(100, 128, 211, 1);
}

.texto1{
    font-family: 'Days One', sans-serif;
}

h3{
    color: rgba(39, 41, 45, 1);
    font-size: 150%;
}

h5{
    color: rgba(82, 78, 78, 1);
}

.intro{
    padding-left: 6%;
    width: 35%;
}

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.titulo-second{
    border-top: 1px solid black;
    padding-top: 48px;
    font-family: 'Days One', sans-serif;
    color: rgba(255, 120, 89, 1);
    margin-bottom: 16px;
}

p{
    font-family: 'Days One', sans-serif;
    color: rgba(82, 78, 78, 1);
}

.rodape{
    padding: 32px;
    border-top: 1px solid black;
    background-color: rgba(205, 205, 205);
}

.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0 auto;
}

.nav:hover{
    color: rgba(159, 61, 38, 1);
}

.nav-item:hover{
    color: rgba(159, 61, 38, 1);
}

@media (max-width: 500px) {
    .nav-menu{
        display: flex;
        position: absolute;
        right: -100%;
        top: 146px;
        width: 80%;
        height: 200%;
        flex-direction: column;
        background: #98BBA7;
        gap: -10px;
        transition: 0.3s;
        text-align: center;
        font-size: 30px;
        align-items: center;
        justify-content: space-around;
    }
    .nav-item{
        display: flex;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .cabeçalho{
        display: flex;
    }
    .first{
        flex-direction: column;
    }
    .intro{
        width: 100%;
        padding-left: 14%;
    }
    main{
        align-items: center;
    }
    .rodape-imagem{
        width: 100%;
    }
    h1{
        font-size: 300%;
        text-align: center;
    }
    h3{
        text-align: center;
    }
    h5{
        text-align: center;
    }
    .titulo-second{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .navegacao1{
        display: none;
    }
    .navegacao2{
        display: none;
    }
    .navigation{
        display: flex;
    }
}