@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #98BBA7;
}

h1{
    font-family: 'Days One', sans-serif;
    margin-top: 10%;
    color: rgba(39, 41, 45, 1);
}

.borda{
    background-color: rgba(255, 120, 89, 1);
    width: 50%;
    padding: 32px;
}

p{
    height: 48px;
    margin: 0 auto;
    font-family: 'Days One', sans-serif;
}

button{
    width: 100px;
    height: 50px;
    border: 2px solid rgba(255, 120, 89, 1);
    color: rgba(39, 41, 45, 1);
    font-family: 'Days One', sans-serif;
}

input{
    width: 300px;
    height: 30px;
}

