@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');


/* css do header */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.navigation{
    display: none;
}

ul{
    display: none;
    font-family: 'Days One', sans-serif;
    color: #FF7859;
}

body{
    font-size: 100%;
}

.cabeçalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #98BBA7;
}

.navegacao1{
    display: flex;
    gap: 250px;
    font-size: 180%;
    font-family: 'Days One', sans-serif;
    color: rgba(255, 120, 89, 1);
}

.navegacao2{
    display: flex;
    gap: 250px;
    font-size: 180%;
    font-family: 'Days One', sans-serif;
    color: rgba(255, 120, 89, 1);
}

a{
    color:rgba(255, 120, 89, 1);
    font-family: 'Days One', sans-serif;
}

main{
    border-top: 1px solid black;
}

.php{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background:rgba(39, 41, 45, 1);
    margin: 5px auto;
    transition: all 1s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: #FF7859;
}

.menu .bar:nth-child(2){
    background:rgba(100, 128, 211, 1);
}

.nav:hover{
    color: rgba(159, 61, 38, 1);
}

.nav-item:hover{
    color: rgba(159, 61, 38, 1);
}

@media (max-width: 500px) {
    .nav-menu{
        display: flex;
        position: absolute;
        right: -100%;
        top: 146px;
        width: 80%;
        height: 200%;
        flex-direction: column;
        background: #98BBA7;
        gap: -10px;
        transition: 0.3s;
        text-align: center;
        font-size: 30px;
        align-items: center;
        justify-content: space-around;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .navegacao1{
        display: none;
    }
    .navegacao2{
        display: none;
    }
    .nav-item{
        display: flex;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .cabeçalho{
        display: flex;
    }
    .navigation{
    display: flex;}
}

/* estilizacao do main */

.titulo{
    display: flex;
    margin-top: 10%;
    margin-left: 5%;
    color: rgba(100, 128, 211, 1);
}

main{
    border-top: 1px solid black;
}

hr{
    display: flex;
    margin-top: 5%;
}

.container{
    display: flex;
    align-items: center;
    margin-top: 10%;
    margin-left: 5%;
    gap: 7%;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.enem-dia{
    display: flex;
    width: 390px;
    box-shadow: #FF7859 -2px 2px 10px 2px;
}

.enem-dia:hover{
    box-shadow: #FF7859 -5px 5px 5px 2px;
}

.titulo-enem-dia{
    font-family: 'Days One', sans-serif;
    text-align: left;
    font-size: 150%;
    color: #27292D;
}

.titulo-enem-dia:hover{
    color:rgba(100, 128, 211, 1);
}

.rodape{
    padding: 32px;
    border-top: 1px solid black;
    background-color: rgba(205, 205, 205);
}

.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0 auto;
}



